@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700|Raleway:700');
@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?pxe65b');
  src:  url('../font/icomoon.eot?pxe65b#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?pxe65b') format('truetype'),
    url('../font/icomoon.woff?pxe65b') format('woff'),
    url('../font/icomoon.svg?pxe65b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 35px;
  color: #647077;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_down2:before {
  content: "\e906";
}



*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, 
body{
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    line-height: 1.5;
    color: #fff;
    background: white;
    text-align: center;
}

a:not(.el-second-section__more){
    list-style-type: none;
    color: white;
    text-decoration: none;
}

.el-header__icon:hover,
.el-header__icon:focus{
    opacity: 0.6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a:hover,
a:focus{
    opacity: 0.8;
    color: green;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

ul li{
    font-family: 'Lato';
    font-size: 14px;
}

img{
    height: auto;
}

/* Grid */
.el-container{
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1170px;
}

.row{
    margin: 0 -15px;
}

.row:before,
.row:after{
    content: '';
    display: table;
    clear: both;
}

[class^="col"],
[class*="col"]{
    float: left;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-1{
    width: 8.3333%;
}

.col-2{
    width: 16.6666%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.3333%;
}

.col-5{
    width: 41.6665%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.3333%;
}

.col-8{
    width: 66.6666%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.3333%;
}

.col-11{
    width: 91.6666%
}

.col-12{
    width: 100%;
}

.col-offset-1{
    margin-left: 8.3333%;
}

.col-offset-2{
    margin-left: 16.6666%;
}

.col-offset-3{
    margin-left: 25%;
}

.col-offset-4{
    margin-left: 33.3333%;
}

.col-offset-5{
    margin-left: 41.6665%;
}

.col-offset-6{
    margin-left: 50%;
}

.col-offset-7{
    margin-left: 58.3333%;
}

.col-offset-8{
    margin-left: 66.6666%;
}

.col-offset-9{
    margin-left: 75%;
}

.col-offset-10{
    margin-left: 83.3333%;
}

.col-offset-11{
    margin-left: 91.6666%
}

// Header

.el-header{
    position: relative;
    min-height: 100vh;
    background: #abb5ca url('../img/HEROImg.jpeg') no-repeat center center;
    background-size: cover;
    color: #fff;
    text-transform: uppercase;
    // line-height: 2;
}

.el-logo--left{
    text-align: left;
}

ul{
    text-align: right;
    margin: 0;
}

li{
    display: inline-block;
    margin-right: 48px;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

li:last-child{
    margin: 0;
}

.padding--top{
    padding-top: 47px;
}

.el-header__name{
    position: relative;
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 700;
    padding-bottom: 40px;
}

.el-header__name:before{
    position: absolute;
    content: '';
    border: 1px solid white;
    width: 5%;
    bottom: 0;
    left: 45%;
    transform: translateX(50%);
    -ms-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -o-transform: translateX(50%);
    -moz-transform: translateX(50%);
}

.el-header__discription{
    width: 58%;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
}

.el-header__icon{
    position: absolute;
    display: inline-block;
    color: #647077;
    border: 2px solid #647077;
    border-radius: 30px;
    padding: 6px 6px 0 6px;
    bottom: 48px;
}
.el-header__content{
    padding: 306px 0 380px;
}

// first section
.el-first-section{
    color: black;
}

.el-first-section__img{
    max-width: 100%;
}

.el-section-name{
    position: relative;
    font-size: 35px;
    margin: 0;
    padding: 109px 0px 150px;
    text-transform: uppercase;
    color: black;
}

.el-section-name:before{
    position: absolute;
    content: '';
    border: 1px solid black;
    width: 5%;
    bottom: 25%;
    left: 45%;
    transform: translateX(50%);
    -ms-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -o-transform: translateX(50%);
    -moz-transform: translateX(50%);
}

.el-first-section__ser-name{
    font-size: 18px;
    font-family: 'Lato';
}

.el-first-section__description{
    font-size: 14px;
    font-family: 'Lato';
    padding-bottom: 115px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

// second section

.el-second-section{
    position: relative;
    background: #abb5ca url('../img/section2bg.jpeg') no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: left;
}

.el-second-section__bg-phone{
    position: absolute;
    bottom: 0;
    right: 10%;
    // padding-top: 150px;
}

.el-second-section__more{
    color: white;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
}

.el-second-section__name{
    font-family: 'Lato';
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 0;
    text-transform: uppercase;
}

.el-second-section__description{
    font-size: 22px;
    font-family: 'Lato';
    font-weight: 400;
    // margin-top: 15px;
}

.el-second-section--padding-top{
    padding-top: 100px;
}

.font--size{
    font-size: 0px;
}

.paddin--bottom{
    padding: 58px 0 111px;
}

// third section
.el-third-section__more{
    display: inline-block;
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Lato';
    font-weight: 400;
    padding: 2px 145px;
}

.el-third-section__more{
    span{
        color: black;
    }
}

.el-third-section__more:hover{
    background: green;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.el-third-section__img{
    width: 100%;
    height: auto;
}

.foto-hover{
    position: relative;
}

.more-position{
    margin: 66px 0 66px;
}

.img-hover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #404040;
    opacity: 0;
}

.img-hover:hover{
    opacity: 0.7;
    color: white;
}

.hover-text-mid{
    position: absolute;
    top: 50%;
    right: 25%;
}

// forth section
.el-forth-section{
    position: relative;
    background: #abb5ca url('../img/lastbg.jpeg') no-repeat center center;
    background-size: cover;
    color: white;
}
